@{

	// Layout
	Layout = "_Layout";

	// View
	View = this;
	SetupLoginStatus(); // Setup login status
	SetClientVar("login", LoginStatus);

	// Global Page Rendering event
	Page_Rendering();

	// Page Render event
	UserLevels_List.Page_Render();

	// Check action result
	if (UserLevels_List.ActionResult is EmptyResult) { // Terminate page
		return;
	}

	#pragma warning disable 168

	// Local variables (Temp data)
	string sqlWrk, filterWrk, whereWrk, curVal;
	List<Dictionary<string, object>> rswrk;
	string[] arWrk;
	List<object> listWrk;
	Func<string> lookupFilter;

	#pragma warning restore 168

}
@if (!UserLevels.IsExport()) {
<script>

// Form object
var CurrentPageID = ew.PAGE_ID = "list";
var fUserLevelslist = currentForm = new ew.Form("fUserLevelslist", "list");
fUserLevelslist.formKeyCountName = "@UserLevels_List.FormKeyCountName";

// Form_CustomValidate event
fUserLevelslist.Form_CustomValidate = function(fobj) { // DO NOT CHANGE THIS LINE!

	// Your custom validation code here, return false if invalid.
	return true;
}

// Use JavaScript validation or not remove PROJ.ProgramLanguage
fUserLevelslist.validateRequired = @ConvertToJson(Config.ClientValidate);

// Dynamic selection lists
// Form object for search

var fUserLevelslistsrch = currentSearchForm = new ew.Form("fUserLevelslistsrch");

// Filters
fUserLevelslistsrch.filterList = @Html.Raw(await UserLevels_List.GetFilterList());
</script>
<script>

// Write your client script here, no need to add script tags.
</script>
}
@if (!UserLevels.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (UserLevels_List.TotalRecords > 0 && UserLevels_List.ExportOptions.Visible) {
	UserLevels_List.ExportOptions.Render("body");
}
@if (UserLevels_List.ImportOptions.Visible) {
	UserLevels_List.ImportOptions.Render("body");
}
@if (UserLevels_List.SearchOptions.Visible) {
	UserLevels_List.SearchOptions.Render("body");
}
@if (UserLevels_List.FilterOptions.Visible) {
	UserLevels_List.FilterOptions.Render("body");
}
<div class="clearfix"></div>
</div>
}
@{ UserLevels_List.RenderOtherOptions(); }
@if (Security.CanSearch) {
if (!UserLevels_List.IsExport() && Empty(UserLevels_List.CurrentAction)) { // Begin search form
<form name="fUserLevelslistsrch" id="fUserLevelslistsrch" class="form-inline ew-form ew-ext-search-form" action="@AppPath(CurrentPageName())">
<div id="fUserLevelslistsrch-search-panel" class="ew-search-panel collapse@(!Empty(UserLevels_List.SearchWhere) ? " show" : " show")">
<input type="hidden" name="cmd" value="search">
<div class="ew-basic-search">
<div id="xsr_1" class="ew-row d-sm-flex">
	<div class="ew-quick-search input-group">
	<input type="text" name="@Config.TableBasicSearch" id="@Config.TableBasicSearch" class="form-control" value="@UserLevels_List.BasicSearch.SessionKeyword" placeholder="@Language.Phrase("Search")">
	<input type="hidden" name="@Config.TableBasicSearchType" id="@Config.TableBasicSearchType" value="@UserLevels_List.BasicSearch.SessionType">
	<div class="input-group-append">
		<button class="btn btn-primary" name="btn-submit" id="btn-submit" type="submit">@Html.Raw(Language.Phrase("SearchBtn"))</button>
		<button type="button" data-toggle="dropdown" class="btn btn-primary dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false"><span id="searchtype">@Html.Raw(UserLevels_List.BasicSearch.TypeNameShort)</span></button>
		<div class="dropdown-menu dropdown-menu-right">
			<a class="dropdown-item @((UserLevels_List.BasicSearch.SessionType == "") ? " active" : "")" href="javascript:void(0);" onclick="ew.setSearchType(this)">@Html.Raw(Language.Phrase("QuickSearchAuto"))</a>
			<a class="dropdown-item @((UserLevels_List.BasicSearch.SessionType == "=") ? "active" : "")" href="javascript:void(0);" onclick="ew.setSearchType(this,'=')">@Html.Raw(Language.Phrase("QuickSearchExact"))</a>
			<a class="dropdown-item @((UserLevels_List.BasicSearch.SessionType == "AND") ? "active" : "")" href="javascript:void(0);" onclick="ew.setSearchType(this,'AND')">@Html.Raw(Language.Phrase("QuickSearchAll"))</a>
			<a class="dropdown-item @((UserLevels_List.BasicSearch.SessionType == "OR") ? "active" : "")" href="javascript:void(0);" onclick="ew.setSearchType(this,'OR')">@Html.Raw(Language.Phrase("QuickSearchAny"))</a>
		</div>
	</div>
	</div>
</div>
</div>
</div>
</form>
} @* End search form *@
}
@UserLevels_List.ShowPageHeader()
@UserLevels_List.ShowMessages()
@if (UserLevels_List.TotalRecords > 0 || UserLevels_List.CurrentAction != "") {
<div class="card ew-card ew-grid@(UserLevels_List.IsAddOrEdit ? " ew-grid-add-edit" : "") UserLevels">
<form name="fUserLevelslist" id="fUserLevelslist" class="form-inline ew-form ew-list-form" action="@AppPath(CurrentPageName())" method="post">
@if (UserLevels_List.CheckToken) {
	@Html.AntiForgeryToken()
}
<div id="gmp_UserLevels" class="@(IsResponsiveLayout() ? "table-responsive " : "")card-body ew-grid-middle-panel">
@if (UserLevels_List.TotalRecords > 0 || UserLevels.IsGridEdit) { // Begin If TotalRecords > 0
<table id="tbl_UserLevelslist" class="table ew-table"><!-- .ew-table -->
<thead>
	<tr class="ew-table-header">
@{

	// Header row
	UserLevels_List.RowType = Config.RowTypeHeader;

	// Render list options
	await UserLevels_List.RenderListOptions();

	// Render list options (header, left)
	UserLevels_List.ListOptions.Render("header", "left");
}
@if (UserLevels.UserLevelID.Visible) { // UserLevelID.Visible (begin)
	if (UserLevels_List.SortUrl(UserLevels.UserLevelID) == "") {
		<th data-name="UserLevelID" class="@UserLevels.UserLevelID.HeaderCellClass"><div id="elh_UserLevels_UserLevelID" class="UserLevels_UserLevelID"><div class="ew-table-header-caption">@Html.Raw(UserLevels.UserLevelID.Caption)</div></div></th>
	} else {
		<th data-name="UserLevelID" class="@UserLevels.UserLevelID.HeaderCellClass"><div class="ew-pointer" onclick="ew.sort(event,'@Html.Raw(UserLevels.SortUrl(UserLevels.UserLevelID))',1);"><div id="elh_UserLevels_UserLevelID" class="UserLevels_UserLevelID">
			<div class="ew-table-header-btn"><span class="ew-table-header-caption">@Html.Raw(UserLevels.UserLevelID.Caption)</span><span class="ew-table-header-sort">@if (UserLevels.UserLevelID.Sort == "ASC") {<i class="fa fa-sort-up"></i>} else if (UserLevels.UserLevelID.Sort == "DESC") {<i class="fa fa-sort-down"></i>}</span></div>
		</div></div></th>
	}
} @* UserLevelID.Visible (end) *@
@if (UserLevels.UserLevelName.Visible) { // UserLevelName.Visible (begin)
	if (UserLevels_List.SortUrl(UserLevels.UserLevelName) == "") {
		<th data-name="UserLevelName" class="@UserLevels.UserLevelName.HeaderCellClass"><div id="elh_UserLevels_UserLevelName" class="UserLevels_UserLevelName"><div class="ew-table-header-caption">@Html.Raw(UserLevels.UserLevelName.Caption)</div></div></th>
	} else {
		<th data-name="UserLevelName" class="@UserLevels.UserLevelName.HeaderCellClass"><div class="ew-pointer" onclick="ew.sort(event,'@Html.Raw(UserLevels.SortUrl(UserLevels.UserLevelName))',1);"><div id="elh_UserLevels_UserLevelName" class="UserLevels_UserLevelName">
			<div class="ew-table-header-btn"><span class="ew-table-header-caption">@Html.Raw(UserLevels.UserLevelName.Caption)@Html.Raw(Language.Phrase("SrchLegend"))</span><span class="ew-table-header-sort">@if (UserLevels.UserLevelName.Sort == "ASC") {<i class="fa fa-sort-up"></i>} else if (UserLevels.UserLevelName.Sort == "DESC") {<i class="fa fa-sort-down"></i>}</span></div>
		</div></div></th>
	}
} @* UserLevelName.Visible (end) *@
@{

	// Render list options (header, right)
	UserLevels_List.ListOptions.Render("header", "right");
}
	</tr>
</thead>
<tbody>
@{ // Begin Code
if (UserLevels_List.ExportAll && UserLevels_List.IsExport()) {
	UserLevels_List.StopRecord = UserLevels_List.TotalRecords;
} else {

	// Set the last record to display
	if (UserLevels_List.TotalRecords > UserLevels_List.StartRecord + UserLevels_List.DisplayRecords - 1) {
		UserLevels_List.StopRecord = UserLevels_List.StartRecord + UserLevels_List.DisplayRecords - 1;
	} else {
		UserLevels_List.StopRecord = UserLevels_List.TotalRecords;
	}
}
if (UserLevels_List.Recordset != null && UserLevels_List.Recordset.HasRows) {
	if (!UserLevels_List.Connection.SelectOffset) { // DN
		for (var i = 1; i <= UserLevels_List.StartRecord - 1; i++) { // Move to first record
			if (await UserLevels_List.Recordset.ReadAsync()) {
				UserLevels_List.RecordCount++;
			}
		}
	} else {
		UserLevels_List.RecordCount = UserLevels_List.StartRecord - 1;
	}
} else if (!UserLevels_List.AllowAddDeleteRow && UserLevels_List.StopRecord == 0) {
	UserLevels_List.StopRecord = UserLevels_List.GridAddRowCount;
}

// Initialize aggregate
UserLevels_List.RowType = Config.RowTypeAggregateInit;
UserLevels_List.ResetAttributes();
await UserLevels_List.RenderRow();

// Output data rows
bool eof = (UserLevels_List.Recordset == null); // DN
while (UserLevels_List.RecordCount < UserLevels_List.StopRecord) { // Begin While
	if (!UserLevels_List.IsGridAdd && !eof) { // DN
		eof = !await UserLevels_List.Recordset.ReadAsync();
	}
	UserLevels_List.RecordCount++;
	if (UserLevels_List.RecordCount >= UserLevels_List.StartRecord) {
		UserLevels_List.RowCnt++;

		// Set up key count
		UserLevels_List.KeyCount = ConvertToInt(UserLevels_List.RowIndex);

		// Init row class and style
		UserLevels_List.ResetAttributes();
		UserLevels_List.CssClass = "";
		if (UserLevels_List.IsGridAdd) {
		} else {
			await UserLevels_List.LoadRowValues(UserLevels_List.Recordset); // Load row values
		}
		UserLevels_List.RowType = Config.RowTypeView; // Render view

		// Set up row id / data-rowindex
		UserLevels_List.RowAttrs.Add("data-rowindex", Convert.ToString(UserLevels_List.RowCnt));
		UserLevels_List.RowAttrs.Add("id", "r" + Convert.ToString(UserLevels_List.RowCnt) + "_UserLevels");
		UserLevels_List.RowAttrs.Add("data-rowtype", Convert.ToString(UserLevels_List.RowType));

		// Render row
		await UserLevels_List.RenderRow();

		// Render list options
		await UserLevels_List.RenderListOptions();
	<tr @Html.Raw(UserLevels_List.RowAttributes)>
	@{

		// Render list options (body, left)
		UserLevels_List.ListOptions.Render("body", "left", UserLevels_List.RowCnt);
	}
	@if (UserLevels.UserLevelID.Visible) { // UserLevelID.Visible (begin)
		<td data-name="UserLevelID"@Html.Raw(UserLevels.UserLevelID.CellAttributes)>
<span id="el@(UserLevels_List.RowCnt)_UserLevels_UserLevelID" class="UserLevels_UserLevelID">
<span @Html.Raw(UserLevels.UserLevelID.ViewAttributes)>
@Html.Raw(UserLevels.UserLevelID.GetViewValue())</span>
</span>
</td>
	} @* UserLevelID.Visible (end) *@
	@if (UserLevels.UserLevelName.Visible) { // UserLevelName.Visible (begin)
		<td data-name="UserLevelName"@Html.Raw(UserLevels.UserLevelName.CellAttributes)>
<span id="el@(UserLevels_List.RowCnt)_UserLevels_UserLevelName" class="UserLevels_UserLevelName">
<span @Html.Raw(UserLevels.UserLevelName.ViewAttributes)>
@Html.Raw(UserLevels.UserLevelName.GetViewValue())</span>
</span>
</td>
	} @* UserLevelName.Visible (end) *@
	@{

		// Render list options (body, right)
		UserLevels_List.ListOptions.Render("body", "right", UserLevels_List.RowCnt);
	}
	</tr>
	} @* End if *@
} @* End While *@
} @* End Code *@
</tbody>
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
@if (Empty(UserLevels_List.CurrentAction)) {
<input type="hidden" name="action" id="action" value="">
}
</div><!-- /.ew-grid-middle-panel -->
</form><!-- /.ew-list-form -->
@{ UserLevels_List.CloseRecordset(); }
		@if (!UserLevels.IsExport()) {
		<div class="card-footer ew-grid-lower-panel">
		<div class="ew-list-other-options">
		@UserLevels_List.OtherOptions.RenderBody("bottom")
		</div>
		@if (!UserLevels_List.IsGridAdd) {
			<form name="ew-pager-form" class="form-inline ew-form ew-pager-form" action="@AppPath(CurrentPageName())">
			@UserLevels_List.Pager.Render()
			</form>
		}
		<div class="clearfix"></div>
		</div>
		}
</div><!-- /.ew-grid -->
}
@if (UserLevels_List.TotalRecords <= 0 && UserLevels_List.CurrentAction == "") { // Show other options
<div class="ew-list-other-options">
@UserLevels_List.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
<div class="clearfix"></div>
}
@UserLevels_List.ShowPageFooter()
@ShowDebugMessage()
@ElapsedTime()
@if (!UserLevels.IsExport()) {
<script>

// Write your table-specific startup script here
// document.write("page loaded");

</script>
}
